body{
    background-color: aqua;
}

header > img{
    height: 70px;
}

ul{
    padding: 0;
    display: flex;
    justify-content: center;
    display: inline-block;
    margin: 10px;
    position: relative;
    margin-left: 300px;
    top: -50px;
    
}
li{
list-style: none;

}

a{
 text-decoration: none;
 color: black;
}

.portuguesa{
    height: 500px;
}