header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
}

p {
    font-size: 1.1em;
    line-height: 1.4;
}


.action-buttons {
    text-align: center;
    margin-top: 20px;
}

.action-buttons a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}







