
:root{    
    --fundo-color: powderblue;
    --cor-h1:#009688;
    --cor-h2: #000 ;
}

body{
    margin: 0%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo-color);
}

header{
    color: white;
    align-items: center;
    text-align: center;
    background-color: green;
}

header>a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

h1{
    color: var(--cor-h1);
}

img{
    max-width: 100%;
    height: auto;
}

h2{
    color: var(--cor-h2);
}


